<!-- views/blogs/allblogs.ejs -->
<div class="blogs-container grid grid-cols-3 gap-4">
    <% blogs.forEach(blog => { %>
      <div class="blog-card p-4 bg-white shadow-lg">
        <img src="<%= blog.imageUrl %>" alt="<%= blog.title %>" class="w-full h-64 object-cover">
        <h2 class="text-xl font-semibold mt-2"><%= blog.title %></h2>
        <p class="text-gray-600 mt-1"><%= blog.summary %></p>
        <a href="/blog/<%= blog.id %>" class="text-blue-500 mt-2">Read More</a>
      </div>
    <% }) %>
  </div>
  